@charset "utf-8";

/** リセット */

*{
    font-family: 'メイリオ', Meiryo,'Arial','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    list-style: none;
    text-decoration: none;
    color: #555;
}

img{
    vertical-align: bottom;
}

/** リセットEnd */

/** スマホ用（スマホファースト）*/

/** header */
header{
    height: 95vh;
}
header a{
    color: #FFF;
}

h1{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 18px;
}
.top_font{
    font-size: 14px;
    color: #FFF;
}
nav ul{
    position: absolute;
    top: 20%;
    right: 10%;
    text-align: right;
}
nav ul li{
    margin-top: 15%;
    font-weight: bold;
}
header p{
    position: absolute;
    bottom: 10%;
    color: #DDD;
    font-size: 36px;
    font-weight: bold;
}

header img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 95vh;
    object-fit: cover;
}
/** header End */

/** main */
/** menu */
#menu_button{
    position: fixed;
    bottom: 3%;
    right: 3%;
    background-color: #05D;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#menu_button a{
    color: #FFF;
    padding-top: 30%;
    text-align: center;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
}
#menu_list{
    display: none;
    position: fixed;
    width: 210px;
    bottom: 13%;
    right: 2%;
    background-color: #444;
}
#menu_list ul li{
    padding-right: 5%;
}
#menu_list a{
    width: 100%;
    padding-top: 10%;
    display: block;
    text-align: right;
    color: #FFF;
}

/** menu End */


/** 各ページ共通 */
h2{
    margin-top: 30%;
    text-align: center;
    font-size: 18px;
}
h3{
    margin-top: 20%;
    text-align: center;
    font-size: 18px;
}
h4{
    margin-top: 15%;
    text-align: center;
    font-size: 18px;
}
.describe{
    width: 85%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
/** index.html */
#about_us{
    overflow: auto;
}

.about_us_left img{
    float: left;
    width: 35vw;
    margin-top: 20%;
    margin-left: 10%;
}
.about_us_right img{
    float: right;
    width: 40vw;
    margin-top: 10%;
    margin-right: 10%;
}

/** 登録講習機関とは */

#about_registraition_agencies h3{
    clear: left;
}
/** 講習使用機体（全講習共通） */

#about_aircraft img{
    max-width: 40vw;
    float: right;
    margin-top: 10%;
    margin-right: 20%;
    margin-bottom: 20%;
}
/** 操縦ライセンス取得には */
#about_license_acquisition h3{
    clear: right;
}

#about_license_acquisition img{
    max-width: 40vw;
    margin-top: 10%;
    margin-left: 20%;
}

/** アクセス */
#address{
    margin-bottom: 20%;
}
#address p{
    width: 275px;
    margin-left: auto;
    margin-right: auto;
}
#address .googlemap a{
    font-weight: bold;
    color: #999;
}
#address .tel{
    margin-top: 10%;
    text-align: center;
}

/** index.html End */

/** index.html以外共通 */
.pc_block{
    display: none;
}
/** index.html以外共通 End */

/** license.html */
#license_type{
    width: 80%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
#license_type li{
    font-weight: bold;
    margin-top: 5%;
}
#license_type ol li{
    font-weight: normal;
}
#permit_approval h4{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}
#permit_approval table{
    width: 90%;
    font-size: 12px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    
}
#permit_approval table, #permit_approval th, #permit_approval td{
    border: solid #000 2px;
}
#permit_approval p{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}
.describe a{
    color: #008;
}
#acquisiton_flow_figure{
    text-align: center;
    margin-top: 10%;
}
#acquisiton_flow img{
    max-width: 95%;
}
/** license.html End */

/** course_content.html */

#implementation_method h4{
    margin-bottom: 10%;
}
#implementation_method table{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
#implementation_method .text_center{
    text-align: center;
}
#class_time table, #class_time th, #class_time td{
    border: solid 1px #000;
    border-collapse: collapse;
    text-align: center;
}
#class_time table{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
#course_subject h4{
    margin-bottom: 10%;
}
#course_subject ul{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
#course_subject ol{
    margin-left: 5%;
}
/** course_content.html End */

/** course_fee.html */
#experienced_person h3{
    margin-bottom: 10%;
}
#experienced_person ul{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.attention{
    background-color: #444;
    color: #FFF;
}
#course_fee table{
    font-size: 12px;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#course_fee table, #course_fee th, #course_fee td{
    border: solid 1px #000;
    border-collapse: collapse;
}
#acquisition_cost table{
    font-size: 12px;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
#acquisition_cost table, #acquisition_cost th, #acquisition_cost td{
    border: solid 1px #000;
    border-collapse: collapse;
}
#acquisition_cost p{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/** course_fee.html End */

/** main End */

/** footer */
#footer{
    margin-top: 15%;
    background-color: #555;
}
#footer p{
    text-align: center;
    color: #FFF;
    bottom: 0;
}
#footer_top, #footer_nav{
    display: none;
}

/** footer End */

/** 768px以下　スマホ用 End */

/** 768px以上960px以下に適応　タブレット用*/
@media screen and (min-width:768px) {
    /** header */
    h1{
        font-size: 24px;
    }
    .top_font{
        font-size: 20px;
    }
    nav ul{
        top: 30%;
    }
    nav ul li{
        font-size: 20px;
    }
    header p{
        font-size: 50px;
    }
    /** header End */

    /** 各ページ共通 */
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1.5em;
    }
    h4{
        font-size: 1.5em;
    }
    .describe{
        width: 65%;
        font-size: 1.2em;
    }

    /** menu */
    #menu_button{
        width: 80px;
        height: 80px;
    }
    #menu_button a{
        width: 80px;
        height: 80px;
        font-size: 1.2em;
    }
    /** menu End */

    /** index.html */
    a[href^="tel=:"]{
        pointer-events: none;
    }

    /** index.html End */

    /** license.html */
    #license_type li{
        font-size: 1.3em;
    }
    #license_type ol li{
        font-size: 1.2em;
    }
    #permit_approval h4{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.1em;
    }
    #permit_approval table, #permit_approval p{
        font-size: 1.1em;
    }
    /** license.html End */

    /** course_content.html */
    #implementation_method table{
        width: 70%;
        font-size: 1.2em;
    }
    #implementation_method table span{
        font-size: 0.9em;
    }
    #class_time table{
        width: 70%;
        font-size: 1.2em;
    }
    #course_subject ul{
        width: 65%;
        font-size: 1.2em;
    }
    /** course_content.html End */

    /** course_fee.html */
    #experienced_person ul{
        width: 76%;
        font-size: 1.2em;
    }
    #course_fee table{
        width: 80%;
        font-size: 1.2em;
    }
    #acquisition_cost p{
        width: 70%;
    }
    #course_fee table, #acquisition_cost table{
        width: 70%;
        font-size: 1.2em;
    }
    /** course_fee.html End */
}
/** 768px以上に適応　タブレット用 End */

/** 960px以上に適応　PC用*/
@media screen and (min-width:960px) {
    h1{
        position: static;
        z-index: 100000;
    }
    nav ul{
        top:20px;

    }
    nav ul li{
        float: left;
        font-weight: normal;
        font-size: 1em;
    }
    header img{
        position: static;
        z-index: 10;
    }
}
/** 960px以上に適応　PC用 End */

